<!DOCTYPE html>
{{! This is the base document for ALL blog pages (index, post, or page) }}
<html>
    <head>
        {{! Document Settings }}
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        {{! ensure that images within posts don't display until we tell them to }}
        <style>
            [class]{}  {{! fixes strange Safari bug }}
            .post_content_td1 img[class=''] { max-width: 100px; display: none; }
        </style>

        {{! Page Meta }}
        <title>{{meta_title}}</title>
        <meta name="description" content="{{meta_description}}" />

        {{! Styles, change style.css  }}
        <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css" />
        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic|Finger+Paint|Source+Sans+Pro:400,400italic,700,700italic|PT+Serif:400,400italic,700italic,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/assets/css/post.css" />

        {{! Responsive Meta Tags }}
        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        {{! Scripts }}
        <script type="text/javascript" src="/assets/js/main.js"></script>

        {{! required by Ghost }}
        {{ghost_head}}
    </head>
    <body id="body_td1" class="{{body_class}}">

        {{! invokes child hbs files (index, post, page) }}
        {{{body}}}

        <footer>

            {{! Edit your social media accounts at partials>social_media.hbs}}
            {{> social_media}}

            <p id="copyright_slb">
                © 2014, Tom Dilatush. All rights reserved.
                <a href="http://ghost.org">Ghost</a> powered;
                theme created by <a href="http://www.slightlyloony.com" target="_blank">the ancient geek</a>.
            </p>
        </footer>

        {{! required by Ghost, also this is where jQuery is loaded (weird!) }}
        {{ghost_foot}}

        {{! scripts that depend on jQuery must go here... }}
        <script>

            // event hooks for DOM ready and document fully loaded...
            $( document ).ready( function() {
                TD1.readyDispatcher();
            } );

            $( window ).load( function() {
                TD1.loadDispatcher();
            } );

            $( window ).resize( function() {
                TD1.resizeDispatcher();
            } );
        </script>
    </body>
</html>