{{!< default}}

{{! The header when Index}}
<header id="indexhead_slb">
	{{#if @blog.logo}}<a href="{{@blog.url}}"><img id="logo_slb" src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
		{{else}}<a id="blogname_slb" href="{{@blog.url}}"><h1>{{@blog.title}}</h1></a>
	{{/if}}
	<div id="description_slb" class="respowidth_slb">
		<h3>{{@blog.description}}</h3>
	</div>
</header>

{{! MAIN content}}
<section id="main_slb" role="main">
	<div id="articles_slb" class="respowidth_slb">

	{{! The Index articles loop}}
	{{#foreach posts}}
		<article class="article_slb" role="article" itemscope itemtype="http://schema.org/Article">

			<div class="postdetails_slb">
				<span class="icon-clock"> </span>
                <time class="date_slb" datetime="{{date format='dddd DD MMM YYYY'}}" itemprop="datePublished">
                    {{date format='DD MMM YYYY'}}
                </time>
				{{#if tags}}
                    <p><span class="icon-tag"> </span> {{tags separator=", "}}</p>
                {{/if}}
			</div><div class="mainright_slb">

                <div class="lores_postdetails_slb">
                    <span class="icon-clock"> </span>
                    <time class="date_slb" datetime="{{date format='dddd DD MMM YYYY'}}" itemprop="datePublished">
                        {{date format='DD MMM YYYY'}}
                    </time>
                    {{#if tags}}
                        <span class="icon-tag">
                            {{tags separator=", "}}
                        </span>
                    {{/if}}
                </div>

				<div class="posttitle_slb" itemprop="headline">
                    <a href="{{{url}}}" rel="bookmark">{{title}}</a>
                </div>

				<div class="postcontent_slb">
					{{content words="80"}}
				</div>
				
				<a href="{{{url}}}" class="readmore_slb">Read More</a>

			</div>
				
		</article>
	{{/foreach}}

	{{#if pagination}}
		<div id="pagination_slb">
			{{{pagination}}}
		</div>
	{{/if}}
	</div>
</section>