{{!< default}}

{{! The header when Index}}
<header id="index_head_td1">
    {{> blog_header}}
</header>

{{! MAIN content}}
<section id="main_td1" role="main">
    {{!--<div id="message_td1" class="message_td1"></div>--}}
    <div id="index_td1" class="index_td1">

        {{! The Index articles loop}}
        {{#foreach posts}}
            <article class="post_td1" role="article" itemscope itemtype="http://schema.org/Article">

                <span class="post_title_td1"><span class="post_fixed_title_td1"><a href="{{{url}}}" rel="bookmark">{{title}}</a></span></span>

                <span class="post_content_td1">
                    {{content}}
                </span>

                {{!-- Posted by (author) on Jan 23, 2014 6:35pm permalink Tags: --}}
                <div class="post_details_td1">
                    Posted by {{author.name}} on
                    <time class="date_td1" datetime="{{date format='dddd DD MMM YYYY'}}" itemprop="datePublished">
                        {{date format='MMM D, YYYY @ h:mma'}}
                    </time>
                    &nbsp;&nbsp;<a href="{{{url}}}" rel="bookmark">Permalink</a>
                    {{#if tags}}
                        &nbsp;&nbsp;Tags:
                        <span class="icon-tag">
                            {{tags separator=", "}}
                        </span>
                    {{/if}}
                </div>
            </article>
        {{/foreach}}

        {{#if pagination}}
            <div id="pagination_td1">
                {{{pagination}}}
            </div>
        {{/if}}
    </div>
</section>
